<header class="text-black bg-gradient-to-r from-blue-400 via-blue-100 to-blue-400 body-font">
  <div class="container flex flex-col flex-wrap items-center p-5 mx-auto md:flex-row">
    <a class="flex items-center mb-4 font-medium text-white title-font md:mb-0">
      <img class="h-12" src="{{ 'assets/images/winter-logo.svg' | theme }}" alt="Winter CMS is a free, open-source content management system based on the Laravel PHP framework.">
    </a>

    <div class="text-md md:mx-auto md:text-lg">WinterCMS theme with blocks</div>

    <a class="inline-flex items-center px-3 py-1 mt-4 text-base text-white bg-gray-900 border-0 rounded focus:outline-none hover:bg-gray-800 md:mt-0 github-button" href="https://github.com/Hounddd/wn-blocks-theme" data-color-scheme="no-preference: dark; light: dark; dark: dark;" data-size="large" data-show-count="true" aria-label="Star Hounddd/wn-blocks-theme on GitHub">Star me on Github</a>
  </div>
</header>

{% put scripts %}
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
{% endput %}
