<div class="p-2 text-center cursor-pointer sm:p-10">
    <div class="max-w-sm rounded overflow-hidden shadow-lg transition duration-500 bg-white {{ content.cssClasses }}">
        <div class="space-y-10">
            <i class="my-4 material-icons md-64">{{ content.iconName }}</i>

            <div class="px-6 py-4 bg-white">
                <div class="space-y-5">
                    <div class="mb-2 text-xl font-bold">{{ content.title }}</div>
                    <p class="text-base text-gray-700">{{ content.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
